.nav {
  list-style-type: none;
  display: flex;
  float: right;
}

.nav li {
  padding: 5px;
  margin: 10px;
}

.header {
  background-color: rgb(206, 135, 168);
  overflow: hidden;
}

h1 {
  color: white;
}s
